.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  background: #1C1C1C;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 1px #3ee5eb, 0 0 10px #161717, 0 0 30px #71efd2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #20EEDD;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 0 1px #121614, 0 0 20px #66e4e6;
}

.underline {
  width: 61px;
  height: 6px;
  background: #00E6E6;
  border-radius: 9px;
  box-shadow: 0 0 2px #121614, 0 0 20px #66e4e6;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #292929;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
  height: 30%;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #e2dfe8;
  font-size: 19px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #00E6E6;
  font-size: 18px;
}

.forgot-password span {
  color: #4a6a7e;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #1C1C1C;
  background: hsl(175, 86%, 53%);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #707171;
  color: #1C1C1C;
}
