.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  background: #282c34;
  padding-bottom: 30px;
  border-radius: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-left: 50px;
  margin-top: 43px;
}

.text {
  color: white;
  font-size: 37px;
  font-weight: 600;
}

.underline {
  width: 40px;
  height: 10px;
  transform: rotate(90deg);
  background: #4dfdc8;
  border-radius: 9px;
}

.inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 60px;
  background: #292929;
  border-radius: 15px;
}

.input img {
  margin: 0px 30px;
  height: 30%;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #e2dfe8;
  font-size: 19px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #4dfdc8;
  font-size: 18px;
}

.forgot-password span {
  color: #a1a9ae;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #1c1c1c;
  background: #4dfdc8;
  border-radius: 15px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  outline: 2px solid #4dfdc8;
  background: transparent;
  color:   #4dfdc8;
}
