#sidebar{
  grid-area: sidebar;
  height: 100%;
  background-color: rgb(8, 8, 8);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding:10px;
}
.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}
.sidebar-title > span{
  display: none;
}
.sidebar-brand{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-size: 27px;
}
.minibar{
  display: flex;
  align-items: center;
  gap:5px;
}
#drop-down{
display: flex;
gap: 10px;
}
.down{
  margin-left: 38px;
}

.sidebar-list{
  padding: 0;
  list-style-type: none;
}
.sidebar-list-item{
  padding: 20px 20px;
  font-size: 18px;
  display: flex;
  gap: 10px;
}
.sidebar-list-item:hover{
  background-color: rgb(54, 47, 54);
  color: aqua;
  cursor: pointer;
  border-radius: 10px;
}
.sidebar-list-item > a{
   text-decoration: none;
   color: rgb(244, 242, 246);
}
.sidebar-list-item > a:hover{
  color: aqua;
}

.sidebar-responsive{
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
/* Customize scrollbar for WebKit browsers */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Set a small width for the scrollbar */
}

/* Customize the scrollbar track */
.sidebar::-webkit-scrollbar-track {
  background: transparent; /* Keep the track background transparent */
}

/* Customize the scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
  background-color: aquamarine; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: add rounded corners to the scrollbar thumb */
  width: 2px; /* Set the width of the scrollbar thumb */
}
