.Container {
  grid-area: main;
  padding: 20px;
  padding-top: 0%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  border-left:2px solid white;
}

.nav {
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #090909;
  border-bottom: 2px solid aqua;
  -webkit-user-select: none;
}

.right-section {
  display: flex;
  align-items: center; /* This will vertically align the icon and avatar */
  gap: 15px; /* You can adjust this gap as per your preference */
}

.logo,
.notification-icon {
  width: 40px;
  height: 40px;
} 
.avatar {
  height: 35px;
  width: 35px;
}
.logo {
  border-radius: 50%;
}

.chat-icon {
  color: aqua;
}

.avatar {
  background-color: aqua;
}

.menu-btn {
  color: white;
}

#morevert {
  border: 2px solid aqua;
  border-radius: 40%;
}

.MenuItem:hover {
  background-color: black;
  color: aqua;
}

.center-section {
  padding: 2px 0px;
   /* Optional, for spacing */
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  
  .right-section {
    justify-content: space-around;
    margin-top: 10px;
    gap: 15px;
  }

  .center-section {
    width: 100%;
    color: aqua; /* Adjust if needed */
    background-color: black; /* Ensure visibility against black background */
    padding: 15px; /* Optional, for spacing */
  }

  .logo,
  .notification-icon,
  .chat-icon,
  .avatar {
    width: 35px;
    height: 35px;
  }
}

.w-full {
  width: 100%;
  background-color: aquamarine;
  border-radius: 20px;
}

.relative {
  position: relative;
  margin: 20px;
}