.Cardbody {
  background-color: black;
  border-left:2px solid white;
  font-family: "Courier New" Courier monospace;
  grid-area: main;
  padding: 30px;
  height: 100vh;
}
.card{
  width: 98%;
  border-radius: 34px;
  padding: 30px;
  border: 2px solid aqua;
  background-color: #362E38;
}



.employee-role-container,
.employee-phone-container,
.employee-email-container {
  display: flex;
  align-items: center;
}
.emp {
  display: flex;
}
.emp p {
  margin-right: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.card-title {
  font-size: 30px;
  font-weight: bold;
  color: #00ffff;
}
.underline {
  width: 36px;
  height: 6px;
  transform: rotate(90deg);
  background: #00ffff;
  border-radius: 9px;
}
.card-title::before {
  font-size: 36px;
  margin-right: 10px;
  border-radius: 20px;
}
.card-button {
  padding: 10px;
  border-radius: 20px;
  color: #f1ebeb;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #00ffff;
}
.card-button1 {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #00ffff;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.employee-role-label,
.employee-phone-label,
.employee-email-label {
  margin-right: 10px;
}
.employee-info {
  display: flex;
  align-items: center;
  color: white;

}
.employee-name-actions {
  font-size: 20px;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.employee-details {
  margin-left: 20px;
}

.employee-name {
  font-size: 25px;
  font-weight: bold;
}

.employee-role,
.employee-phone,
.employee-email {
  margin-top: 5px;
  justify-content: space-between;
}
.card-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-stat {
  flex: 1 1 calc(33.33% - 20px);
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #474545;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  max-height: 300px;
  color: white;
  background-color: #080808;
}

.card-stat-number {
  font-size: 20px;
  font-weight: bold;
}

.card-stat-text {
  margin-top: 5px;
  font-size: medium;
}

.history-card {
  width: 98%;
  margin-top: 10px;
  border-radius: 34px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  border: 2px solid aqua;
  background-color: #362E38;
}

.history-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-title {
  font-size: 30px;
  font-weight: bold;
  color: #00ffff;
}
.history-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.history-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #00ffff;
}

.history-card-content {
  margin-top: 5px;
}

.history-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history-stat {
  flex: 1 1 calc(33.33% - 20px);
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #474545;
  background-color: #080808;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 500px;
  color: white;
}

.history-stat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.history-stat-number {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.hist-btn {
  padding: 6px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #00ffff;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.history-stat-times {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.history-stat-text {
  font-size: 12px;
  color: #b9b1b1;
  margin: 0;
}
.highlight-time {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
